.App {
  text-align: center;
  overflow: hidden;
}

.App-header {
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
}

.App-link {
  color: white;
}

a:visited{
  color:white;
}

.Body-format{
  overflow: hidden;
}

.L-system-pane{
  overflow: hidden;
}

.System-rule-pane{
  text-align: center;
}

.Control-pane{
  width: 30%;
  height: 100%;
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position:fixed;
  float: left;
  overflow-y: auto;
  overflow-x: auto;
}

.View-pane{
  width: 70%;
  height: 100%;
  word-wrap: break-word;
  min-height: 100vh;
  float: right;
  position:fixed;
  right:0;
  background-color : #ffbad2;
  overflow-y: auto;
  overflow-x: auto;
}
/* from w3schools */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

